.UsuarioEmpresaAgendar{
    
    *{
        margin: 0px;
        box-sizing: border-box;
    }
    .centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F6F6;

        height: 100vh;
        width: 100vw;

        font-family: "Kumbh Sans";

        .padding{
            padding: 3em;
            width: 90%;
            max-width: 1280px;
        }
        .inputs-card{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5%;
            padding: 1.5em;

            height: 15.5em;


            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

            .ima{
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 15%;

                img{
                    background-color: #4D6146;;
                    width: 100%;
                    height: 70%;
                }

                p{
                    padding: 12%;
                    font-weight: 800;
                }
            }

            .inputs{
                display: flex;
                flex-direction: column;
                width: 30%;

                ::placeholder {
                    color: rgba(0, 0, 0, 0.50);
                    font-family: "Kumbh Sans";
                    padding: 5px;
                  }

                input{
                    height: 14%;
                    margin-bottom: 0.7em;
                    border: 1px solid #000000;
                }
                .e{
                    height: 22.5%;
                }
            }

            .inputs1{
                display: flex;
                flex-direction: column;

                width: 50%;

                ::placeholder {
                    color: rgba(0, 0, 0, 0.50);
                    font-family: "Kumbh Sans";
                    padding: 5px;
                  }

                input{
                    height: 14%;
                    margin-bottom: 0.7em;
                    border: 1px solid #000000;
                }

                h3{
                    font-weight: 800;
                    width: 50%;
                    border-bottom: #000000 solid 2px;
                    margin-bottom: 20px;
                }
            }

        }

        .campotexto{
            background-color: #fff;
            padding: 1.5em;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

            margin-bottom: 10%;

            h3{
                font-weight: 800;
                width: 25%;
                border-bottom: #000000 solid 2px;
                margin-bottom: 20px;
            }

            textarea{
                width: 100%;
                height: 11em;
            }
        }

        .botao{
            display: flex;
            justify-content: flex-end;
        }
    }

}