
@use "sass:math";

.homeUsuario{
    height: 100%;
    background-color: #F6F6F6;
    min-height: 100vh;
    .f1-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
        height: 100%;
    }

    .box1-left{
        overflow: auto;
        max-height: 450px;
    }

    .input-1{
        width: 60vw;
        height: 30px;
        border: 0.5px solid;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: #FFFFFF;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-right: 0px;
        padding: 2px;

        font-family: "Kumbh Sans";
        font-size: 14px;
        font-weight: 500;
    }
    
    .lupa{
        width: 4.5vw;
        font-family: "Kumbh Sans";
        font-size: 14px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: 0px;
        border: 0.5px solid;
        background-color: #FFFFFF;
        height: 30px;
        padding: 2px;
        background-image: url('./assets/lupa.svg');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 50%;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
    }


    .caixa1-esquerda{
        background: linear-gradient(358.41deg, #263238 5.02%, rgba(38, 50, 56, 0.93) 88.66%);
        border: 1px solid #000000;
        width: 64.5vw;
        margin-top: 30px;
        padding: 40px;
        border-radius: 4px;

    }

    .h1-boxleft{
        font-family: "Kumbh Sans";
        color: #FFFFFF;
        font-weight: 700;
        width: 500px;
    }

    .p1-boxleft{
        margin-top: 50px;
        font-family: "Kumbh Sans";
        color: #FFFFFF;
        font-weight: 500;
        width: 680px;
        
    }
    
    .img-star{
        background-color: #263238;
        width: 45px;
        cursor: pointer;

    }

    .img-local{
        background-color: #263238;
        width: 45px;

    }


    .star-box{
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        opacity: 0.8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 220px;
        border-radius: 4px;
        cursor: pointer;

    }

    .local-box{
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        opacity: 0.8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 220px;
        margin-top: 20px;
        border-radius: 3px;
        cursor: pointer;
    }

    .star-box:hover{
        .img-star{
            animation: star 0.3s forwards;
        }
    }

    .local-box:hover{
        .img-local{
            animation: local 0.3s forwards;
        }
    }

    @keyframes star {
        from{
            background-color: #263238;
        }
        to{
            background-color: #b6b904;
        }
    }

    @keyframes local {
        from{
            background-color: #263238;
        }
        to{
            background-color: #640700;
        }
    }

    .local-box > h1{
        font-family: "Kumbh Sans";
        font-size: 18px;
        width: 80px;
        margin: 4px;
        font-weight: 700;
    }

    .star-box > h1{
        font-family: "Kumbh Sans";
        font-size: 18px;
        width: 80px;
        margin: 4px;
        font-weight: 700;

        cursor: pointer;
    }

    .button-limpar{
        border: none;
        background-color: #F6F6F6;
        text-decoration: underline;
        cursor: pointer;
        font-family: "Kumbh Sans";
        font-size: 12px;
    }

    .tag-box{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.38);
        height: 200px;
        margin-top: 40px;
        border-radius: 5px;
       
    }

    .scroll{
        width: min-content;
        overflow: auto;
        height: 600px;

       
    }

    .tag-box > h1, p{
        font-family: "Kumbh Sans";
        padding: 5px;
    }

    
    .tag-box > h1 {
        font-weight: 700;
    }



    
    .tag-box > p {
        font-weight: 500;
    }


    .box-empresa{
        width: 62vw;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding: 15px;
        height: 200px;
        border-radius: 20px;
        justify-content: space-between;
        align-items: flex-end;
        
    }

    .ali{
        display: flex;
        flex-direction: row;
        margin-left: 5px;
    }

    .h1-box-empresa{
        margin-left: 20px;

    }

    .img-logo{
        width: 150px;
        height: 150px;
        border-radius: 15px;
    }

    .alinhar-box-empresa{
        display: flex;
        flex-direction: column;
    }

    .box-empresa > h1, p{
        font-family: "Kumbh Sans";
        font-size: 16px;
        margin-left: 20px;
        
    }

    .button-box-empresa{
        border: 0px;
        cursor: pointer;
        padding: 5px;
        border-radius: 7px;
        background-color: #263238;
        font-family: "Kumbh Sans";
        font-weight: 800;
        font-size: 18px;
        color: #FFFFFF;
        height: 50px;
    }

    .button-box-empresa:hover{
        background-color: #323435;
    }
}