
.page-adm-home{
    display: flex ;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #F5F5F5;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'KumbhSans-SemiBold';
    flex-direction: column;
    min-height: 100vh;
    .filtro{
        margin-top: 100em;
    }
    .tutorial{
        background-color: #263238;
        border: 3px solid #fff;        position: absolute;
        margin-bottom: 20%;
        color: #fff;
        margin-left: 80%;
        height: 3em;
        width: 16em;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        padding: 10px;
        font-family: 'KumbhSans-Regular';
        font-weight: 700;
        cursor: pointer;
    }
    .tutorial-1{
        display: flex;
        flex-direction: column;
        background-color: #263238;
        border: 3px solid #fff;
        color: #ffffff;
        position: absolute;
        margin-top: 18%;
        margin-left: 70%;
        padding: 10px;
        width: 26em;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        padding: 10px;
        font-family: 'KumbhSans-Regular';
        font-weight: 500;
        cursor: default;
        .ok{
            background-color: #fff;
            color: black;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            width: 20%;
            font-family: 'KumbhSans-Regular';
            font-weight: 700;
            height: 2em;
            cursor: pointer;
        }  
    }
    

.filtro-adm-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    width: 60%;
    margin-top: 5%;
    height: 2.5em;
    font-family: 'KumbhSans-Regular';
    .btn{
        display: flex;
        color: #fff;
        background-color: #263238;
        align-items: center;
        justify-content: space-evenly;
        width: 32%;
        height: 100%;
        font-size: 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .btn2{
        display: flex;
        color: #fff;
        background-color: #263238;
        align-items: center;
        justify-content: space-evenly;
        width: 32%;
        height: 100%;
        font-size: 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        margin-left: 5%;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    
   
    .seta{
        height: 16px;
    }
    input{
        background: none;
        border: none;
        color: #fff;
        font-size: 100%;
        font-family: 'KumbhSans-Regular';

    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(1) brightness(100%) sepia(10000000%) saturate(100%) hue-rotate(140deg) ;
    }
    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    } 
    select{
    border: none;
    height: 100%;
    color: #fff;
    width: 80%;
    font-size: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 100%;
    font-family: 'KumbhSans-Regular';
    font-weight: 500;
    padding-left: 10px;
}
img{
    cursor: pointer;
}

select option{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #263238;
}


button{
    background: none;
    border: none;
    color: #fff;
}
.lupa{
    width: 20%;
    height: 90%;
    color: #fff;
}
.lupa2{
    width: 20%;
    height: 50%;
    color: #fff;
}

}

.not1{
    width: 40%;

}


}