.cabecalho{
   
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    cursor: pointer;
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .alinhamento{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        height: 7vh;
        font-family:'KumbhSans-Regular';
        font-size: 16px;
        cursor: pointer;
        .pagina{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 25%;
            border-bottom: #fff solid 3px;
            font-family:'KumbhSans-Regular';   
            }
    }
    .tent{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 25%;
    }
    .tent:hover{
        border-bottom: #fff solid 3px;
    }



    .logo{
        background-color: #fff;
        color: #0000;
        padding: 0 0 0.3em 1em;
        h1{
            color: #000;
        }
    }
    .part-2{
         background-color: #263238;
    }
    
}