.cabecalho{
   
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    .alinhamento{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        height: 7vh;
        font-family:'KumbhSans-Regular';
        font-size: 16px;
        .pagina{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 7vh;
            background-color: #37474F;
            font-family:'KumbhSans-Regular';   
            }
    }
    .logo{
        background-color: #fff;
        color: #0000;
        padding: 0 0 0.3em 1em;
        h1{
            color: #000;
        }
    }
    .part-2{
         background-color: #263238;
    }
    
}