.card{
    height: 3em;
    width: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16PX;
    margin-top: 20px;
    .imagens{
        display: flex;
        width: 8%;
        align-items: center;
        justify-content: space-between;
    }
    img{
        width: 25%;
        height: 25%;
    }
    .nome{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        cursor: pointer;
    }
    .nome-nome{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        cursor: pointer;
    }
    .nome1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
    }
    .nome3{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
    }
}