.cadastro-empresa{
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/Bg-Sites-BC.jpg');

    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 40px 0px 0px 70px;
    }

    input{
        font-family: "Kumbh Sans";
        padding: 1px;
        border: none;
    }

    .f1-h1{
        font-family: "Kumbh Sans";
        font-weight: 800;
        font-size: 30px;
        color: black;
    }

    .f1-p1{
        font-family: "Kumbh Sans";
        font-weight: 600;
        color: black;
        margin-left: 3px;
        cursor: pointer;
    }
    
    .f1-p1:hover{
        color: rgb(133, 133, 133);
    }
    
    .f1-h2{
        font-family: "Kumbh Sans";
        font-weight: 700;
        color: black;
        font-size: 20px;

    }

    .alinhardiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }


    .input1{
        width: 600px;
        margin-top: 10px;
        margin-bottom: 8px;
        border-radius: 2px;
        font-family: "Kumbh Sans";
        font-weight: 600;
        font-size: 18px;
        

    }

    .input2{
        width: 600px;
        margin-bottom: 8px;
        border-radius: 2px;
        font-family: "Kumbh Sans";
        font-weight: 600;
        font-size: 18px;

    }

    .input3{
        width: 600px;
        margin-bottom: 3px;
        border-radius: 2px;
        font-family: "Kumbh Sans";
        font-weight: 600;
        font-size: 18px;
    }

    .input4{
        margin-right: 4px;
        width: 16px;
    }

    .inputcheck{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 600px;
        margin-bottom: 30px;
        margin-top: 2px;

    }

    .inputcheck > p{
       font-family: "Kumbh Sans";
       font-size: 15px;
       font-weight: 500;
    }

    .f1-button{
        width: 180px;
        background: #263238;
        border-radius: 7px;
        padding: 10px;
        color: white;
        font-family: "Kumbh Sans";
        font-weight: 700;
        font-size: 15px;
        margin-top: 20px;
    }

    .alinhardiv2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5px;
    }

    .input5{
        width: 200px;
        font-size: 18px;
        font-family: "Kumbh Sans";
        font-weight: 600;

    }

    .input6{
        width: 190px;
        margin: 0px 5px 0px 5px;
        font-size: 18px;
        font-family: "Kumbh Sans";
        font-weight: 600;
    }

    .input7{
        width: 600px;
        margin-bottom: 3px;
        border-radius: 2px;
        font-family: "Kumbh Sans";
        font-weight: 600;
        font-size: 18px;
        margin-top: 7px;
    }

    .alinharbutton{
        margin-top: 25px;
        width: 600px;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;

    }

    .bolinhas{
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        font-family: "Kumbh Sans";
        font-weight: 800;
    }

    .linha1{
        width: 500px;
        height: 1px;
        background-color: black;
        border: none;
        height: 3px;
    }

    .linha1-s{
        width: 500px;
        height: 1px;
        height: 5px;
        background-color: greenyellow;
        border: none;
    }

    .linha1-t{
        width: 500px;
        height: 1px;
        background-color: black;
        height: 3px;
        border: none;
        animation: linha-animation 1s forwards;
    }

    @keyframes linha-animation {
        from{
            height: 3px;
            background-color: black;
        }
        to{
            height: 5px;
            background-color: greenyellow;
        }
    }

    .bolinha1-none{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 360px;
    }

    .bolinha1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 360px;
        animation: ball1 1s forwards;
        animation-delay: 0.4s;
    }

    .bolinha1-leave{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: 360px;
        animation: ball1-leave 1s forwards;
        animation-delay: 0.4s;
    }

    @keyframes ball1 {
        from{
            width: 70px;
            height: 70px;
        }

        to{
            width: 90px;
            height: 90px;
        }
    }

    @keyframes ball1-leave {
        from{
            width: 90px;
            height: 90px;
        }

        to{
            width: 70px;
            height: 70px;
        }
    }

    

    .bolinha2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
    }

    .bolinha2-animation{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        animation: ball1 1s forwards;
        animation-delay: 0.4s;
    }

    .bolinha2-leave{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        animation: ball1-leave 1s forwards;
        animation-delay: 0.4s;
    }



    .bolinha3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
    }

    .bolinha3-animation{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        animation: ball1 1s forwards;
        animation-delay: 0.4s;
    }
    
}