



.pg-novohorario{
    background-color: #F5F5F5;
    height: 100vh;
    font-family: 'KumbhSans-SemiBold';
    font-size: 25px;
    h3{
        margin-top: 5%;
        margin-left: 5%;
        text-decoration: underline;
    }
    input{
        margin-top: 2%;
        width: 35%;
        margin-left: 5%;
        height: 5vh;
    }
    select{
        margin-top: 2%;
        width: 35%;
        margin-left: 5%;
        height: 5vh;
    }
    .card1{
        background-color: #fff;
        border-radius: 10px; 
    }
    .opts{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20vh;
    }
}
