.Main-Cadastro-Usuario{
    
    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 70px 0px 0px 70px;
        padding-bottom: 5em;


    }

    .f1-h1{
        font-family: "Kumbh Sans";
        font-weight: 800;
        font-size: 30px;
        color: black;
    }

    .f1-p1{
        font-family: "Kumbh Sans";
        font-weight: 600;
        color: black;
        margin-left: 3px;
        cursor: pointer;
    }


    .FaixaPrincipal-2 {
        height:30vh ;   
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .FaixaPrincipal h1 {
            text-align: center;    
            margin-bottom: 10px;
            font-family: 'KumbhSans-Bold';
    }

        .Div-Inputs{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
   
        .Div-Inputs input{
                width: 600px;
                margin-bottom: 3px;
                border-radius: 2px;
                border: 1px solid black;
                font-family: "Kumbh Sans";
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 8px;
        }

        .button{
            width: 180px;
            background: #263238;
            border-radius: 7px;
            padding: 10px;
            color: white;
            font-family: "Kumbh Sans";
            font-weight: 700;
            font-size: 15px;
            margin-top: 20px;
        }

        .Div-Button{
            display: flex;
            justify-content: center;
        }

        .FaixaPrincipal-2{
            height:30vh ;   
            width: 100vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        .FaixaPrincipal-2 h1{
            text-align: center;    
            margin-bottom: 10px;
            font-family: 'KumbhSans-Bold';
        }

        .Inputs-Group{
            display: flex;
            flex-direction: row;
            width: 600px;
            justify-content: space-between;
        }

        .Inputs-Group input{
            width: 195px;
            border-radius: 2px;
            border: 1px solid black;
            font-family: "Kumbh Sans";
            font-weight: 600;
            font-size: 18px;
        }

        .Button-Group{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }


        .button-1{
            width: 180px;
            background: #263238;
            border-radius: 7px;
            padding: 10px;
            color: white;
            font-family: "Kumbh Sans";
            font-weight: 700;
            font-size: 15px;
            margin-top: 20px;
            margin-left: 10px;
        }















}