.Main-Login{


.Div-1{
    background-color: #263238;
    display: flex;
    flex-direction: column;
    width:120vh;
    height: 100vh; 
}


.Div-Group{
    display: flex;
    flex-direction: row;
}

.Espac{
    height:18px;
    width: 0;
}
.Imagem-calendario{
    background-image: url('../../../public/assets/images/Calendar-rafiki1.svg');
    background-repeat: no-repeat;
    width: 582px;
    height: 424px;
    
}

.Div-1-div{
display: flex;
width: 25em;
justify-content: flex-end;
}


.Div-1 h1{
    
    color: white;
    font-size: 40px;
    padding-left: 80px;
}

.Espaçamento{
    width: 360px;
}

.Div1-Img{
    display: flex;
    width: 45vw;
    justify-content: flex-end;
}

.Div-2{
    display: flex;
    flex-direction: column;
    
}
.Div-2 h1{
    color: white;
    font-size: 70px;
    width: 6em;
}

.Div-2 p{
    display: flex;
    color: white;
    font-size: 30px;
    width: 38vw;
    padding-left: 100px;
}















/*---------------------------------Faixa Branca---------------------------------- */

.Faixa-Branca{
    display: flex;
    flex-direction:column;
    background-color: white;
    height: 100vh;
    width: 80vh;
}

.Div1-Faixa-Branca{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: space-around;
    width:35vw ;
    height:30vh ; 
    padding-bottom: 90px;
}

.Div1-Faixa-Branca p{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "KumbhSans-Medium";
    font-size: 30px;
}

.input-1{
    width: 620px;
    height: 2em;
    color: black;
    font-size: 30px;
    background-image: url('../../../public/assets/images/user\ 1.png');
    background-repeat: no-repeat;
    background-position: 20em;
    border:none ;
    border-bottom: 1px solid black;
    padding-left: 1.5em;

}

.input-2{
    width: 620px;
    height: 2em;
    padding-left: 1.5em;
    color: black;
    font-size: 30px;
    background-image: url('../../../public/assets/images/website-app-password\ 1.png');
    background-repeat: no-repeat;
    background-position: 20em;
    border:none ;
    border-bottom: 1px solid black;
}


.Div-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13em;
    padding-left:50px;
    padding-bottom: 50px;
}

.div-ChekBox{
    display: flex;
    flex-direction: row;
    height: 3.5em;
    width: 8em;
    padding-left: 4em;

    color: rgba(118, 118, 118, 1);
    font-family:'KumbhSans-Bold';
    font-size: 24px;
}

.DivAux{
    display: flex;
    flex-direction: row;
    width: 20em;
    justify-content: space-evenly;

}

.div-ChekBox input{
    width: 3em;
}

.Faixa-Button_LembrarSenha{
    display: flex;
    flex-direction: row;
    width:45em ;
    height:10em ;
    justify-content: space-evenly;
    align-items: center;
}

.Faixa-Button_LembrarSenha button{
    width: 200px;  
    height:65px;
    border-radius: 20px;
    background-color: #263238;
    font-size: 30px;
    font-family: 'KumbhSans-Bold';
    color: white;
    cursor: pointer; 
}


.CheckBox-LembrarSenha{
    display: flex;
    flex-direction: row;
    width: 20em;
    justify-content: space-evenly;
}


.CheckBox-LembrarSenha input{
    width: 3em;
}

.CheckBox-LembrarSenha p{
    font-size: 24px;
    color: rgba(118, 118, 118, 1);
    font-family:'KumbhSans-Bold';
    
}

.Div-Esqueceu_Senha{
        display: flex;
        width: 45em;
        height: 6em;
        justify-content: center;
        align-items: center;
}
.Div-Esqueceu_Senha a{
    font-size: 24px;
    color: rgba(118, 118, 118, 1);
    font-family:'KumbhSans-Bold';
}


}