.login{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;

    .tela{
        display: flex;
        flex-direction: row;
    }

    .faixa-cinza{
        width: 65%;
        height: 100vh;
        background-color: #263238;
    }

    .MW{
        font-family: "Kumbh Sans";
        font-size: 40px;
        color: white;
        padding-top: 30px;
        padding-left: 20px;
        margin-bottom: 50px;
    }

    .img1{
        width: 500px;
    }
    
    .alinhar-imgs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .bv{
        font-family: "Kumbh Sans";
        font-size: 30px;
        color: white;
        padding-top: 30px;
        padding-left: 20px;
        margin-bottom: 50px;
    }

    .bolinhas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }

    .bolinha1{
        width: 20px;
        height: 20px;
        border-radius: 360px;
        background-color: #D9D9D9;
    }

    .bolinha2{
        width: 20px;
        height: 20px;
        border-radius: 360px;
        background-color: #D9D9D9;
        margin-left: 10px;
    }

    .bolinha3{
        width: 20px;
        height: 20px;
        border-radius: 360px;
        background-color: #D9D9D9;
        margin-left: 10px;
    }

    .boxright{
        font-family: "Kumbh Sans";
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

    .h1-boxright{
        padding-top: 20px;
        font-size: 20px;
    }

    a{
        color: black;
        margin-left: 30px;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Kumbh Sans";
    }

    .inputs p{
        font-family: "Kumbh Sans";
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 20px;
    }


    .input2{
        height: 30px;
        padding-left: 1.5em;
        color: black;
        font-size: 20px;
        background-image: url('../../../public/assets/images/website-app-password\ 1.png');
        background-repeat: no-repeat;
        background-position: 90%;
        border:none ;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }
    
    .input1{
        height: 30px;
        color: black;
        font-size: 20px;
        background-image: url('../../../public/assets/images/user\ 1.png');
        background-repeat: no-repeat;
        background-position: 90%;
        border:none;
        border-bottom: 1px solid black;
        padding-left: 1.5em;
        margin-bottom: 20px;
    }

    .buttonLogin{
        width: 130px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: #263238;
        font-size: 20px;
        font-family: 'KumbhSans-Bold';
        color: white;
        cursor: pointer; 
    }

    .lembrar-senha{
        display: flex;
        flex-direction: row-reverse;
    }





}