.login{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;

    a:link, a:visited {
        text-decoration: none;
        color:currentColor;
    }
    
    h1,p,button,input,div{
        font-family: "Kumbh Sans";
    }

    .color{
        color: white;
        padding: 10px;
    
    }

    .register{
        font-size: 15px;
        text-decoration: underline;
        border-radius: 3px;
        border: 0px;
        background-color: #263238;
        padding: 2px;
        height: 20px;
    }


    .tela{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        min-width: 100vw;
        
    }

    .faixa-cinza{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 65%;
        height: 100%;
        min-height: 100vh;
        background-color: #263238;
        position: sticky;
    }

    .text-login{
        font-family: "Kumbh Sans";
        font-size: 20px;
        color: white;
        font-weight: 500;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 10px;
        margin-bottom: 10px;

    }

    .MW{
        font-family: "Kumbh Sans";
        font-size: 40px;
        color: white;
        padding-left: 20px;
        margin-bottom: 20px;
        position: initial;
    }

    .img1{
        width: 500px;
        background-color: white;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        
    }
    
    .alinhar-imgs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .bv{
        font-family: "Kumbh Sans";
        font-size: 30px;
        color: white;
        padding-top: 30px;
        padding-left: 20px;
    }

    .boxright{
        font-family: "Kumbh Sans";
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        }

    .h1-boxright{
        padding-top: 20px;
        font-size: 20px;
    }

    a{
        color: black;
        margin-left: 30px;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Kumbh Sans";
        margin-top: 50px;
    }

    .inputs p{
        font-family: "Kumbh Sans";
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 20px;
    }


    .input2{
        height: 30px;
        padding-left: 0.5em;
        color: black;
        font-size: 20px;
        background-image: url('../../../public/assets/images/website-app-password\ 1.png');
        background-repeat: no-repeat;
        background-position: 90%;
        border:none ;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }
    
    .input1{
        height: 30px;
        color: black;
        font-size: 20px;
        background-image: url('../../../public/assets/images/user\ 1.png');
        background-repeat: no-repeat;
        background-position: 90%;
        border:none;
        border-bottom: 1px solid black;
        padding-left: 0.5em;
        margin-bottom: 20px;
    }

    .buttonLogin{
        width: 130px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: #263238;
        font-size: 20px;
        font-family: 'KumbhSans-Bold';
        color: white;
        cursor: pointer; 
    }

    .lembrar-senha{
        display: flex;
        flex-direction: row-reverse;
    }





}