@font-face {
    font-family: 'KumbhSans-Black';
    src: url(../../public/assets/fonts/KumbhSans-Black.ttf)
}
@font-face {
    font-family: 'KumbhSans-Bold';
    src: url(../../public/assets/fonts/KumbhSans-Bold.ttf)
}
@font-face {
    font-family: 'KumbhSans-ExtraBold';
    src: url(../../public/assets/fonts/KumbhSans-ExtraBold.ttf)
}
@font-face {
    font-family: 'KumbhSans-ExtraLight';
    src: url(../../public/assets/fonts/KumbhSans-ExtraLight.ttf)
}
@font-face {
    font-family: 'KumbhSans-Light';
    src: url(../../public/assets/fonts/KumbhSans-Light.ttf)
}
@font-face {
    font-family: 'KumbhSans-Medium';
    src: url(../../public/assets/fonts/KumbhSans-Medium.ttf)
}
@font-face {
    font-family: 'KumbhSans-Regular';
    src: url(../../public/assets/fonts/KumbhSans-Regular.ttf)
}
@font-face {
    font-family: 'KumbhSans-SemiBold';
    src: url(../../public/assets/fonts/KumbhSans-SemiBold.ttf)
}
@font-face {
    font-family: 'KumbhSans-Thin';
    src: url(../../public/assets/fonts/KumbhSans-Thin.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Link:hover, .Link:visited, .Link:focus, .Link:active
{ text-decoration: none;
     color: inherit; } 


