

.filtro-adm-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    width: 40%;
    margin-top: 5%;
    height: 2.5%;
    font-family: 'KumbhSans-Regular';
    .btn{
        display: flex;
        color: #fff;
        background-color: #263238;
        align-items: center;
        justify-content: space-evenly;
        width: 32%;
        height: 100%;
        font-size: 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

        
    }
    .seta{
        height: 16px;
    }
    input{
        background: none;
        border: none;
        color: #fff;
        font-size: 100%;
        font-family: 'KumbhSans-Regular';
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(1) brightness(100%) sepia(10000000%) saturate(100%) hue-rotate(140deg) ;
      
}
}