

.PaginaEmpresa{
    a{
        color: #fff;
    }
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;

    .PaginaEmpresa-Centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F6F6;

        min-height: 100vh;
        width: 100vw;

        font-family: "Kumbh Sans";
        p{ font-size: 15px;}

        .agrups{
            display: flex;
            padding: 5em;
        }
        .agrup-esquerda{
            margin-right: 3%;
            width: 80%;
        }
        .agrup-direita{
            width: 20%;
        }

        .estrelas{
            display: flex;
            margin-bottom: 20%;
        }

        .estrela{
            background-image: url(../../../../public/assets/images/star.svg);
            background-size: 15px 15px;
            height: 15px;
            width: 15px;
        }


        .card-empresa{
            display: flex;
            justify-content: space-between;

            padding: 2em;
            min-width: 37em;
            height: 15em;

            margin-bottom: 2.5%;

            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

            h3{
                font-weight: 1000;
                font-size: 1.8em;
                margin-bottom: 5%;
            }

            .a{
                display: flex;
            }

            .image{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                height: 47%;
                img{
                    width: 25px;
                    height: 25px;
                }
            }

            .img{
                height: 100%;
                width: 20%;
                min-width: 12.5em;
                margin-right: 2.5%;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #4D6146;
                box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

                .aimg{
                    background-image: url(../../../../public/assets/images/NUTRIFIT.svg);
                    background-repeat: no-repeat;

                    background-size: 80%;
                    background-position: center;
                    width: 100%;
                    height: 20%;
                }
            }

            .nome-desc{
                height: 1;
                width: 50%;
            }

            .ava-locais{
                width: 30%;
            }
        }

        .card-Publicacao{
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 2em;

            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
            
            p{
                font-family: "Kumbh Sans";
                font-weight: 650;
                font-size: 30px;
            }

            img{

                width: 30px;
            }
        }

        .CardCanto{
            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
            padding: 1em;


            margin-bottom: 10%;

            h3{
                border-bottom: 2px black solid;
                margin-bottom: 16px;
            }

            img{
                width: 15px;
            }
        }


        .card-Agendar p{
            font-size: 20px;
            display: flex;
            align-items: center;
        }

        .agendar{
            padding: 0.3em;
            width: 7em;
            background-color: #263238;
            border-radius: 0.7em;

            font-family: "Kumbh Sans";
            font-weight: 700;
            font-size: 20px;
            color: #fff;
        }
    }
}