

.PaginaEmpresa{
    a{
        color: #fff;
    }
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        font-family: "Kumbh Sans";
    }
    display: flex;
    align-items: center;

    input, textarea{
        padding: 2px 6px;
        border-radius: 5px;
        border: 0.5px solid;
        background-color: #ffffff;
        border: 1px solid #6e6e6e;
    }
    .tag{
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        background-color: #263238;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
        color: #fff;
        margin-right: 5px;
        margin-top: 10px;
        padding: 2px 6px ;
    }

    .editarperfil{
        fill:red
    }

    .PaginaEmpresa-Centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F6F6;

        min-height: 100vh;
        width: 100vw;

        font-family: "Kumbh Sans";
        p{ font-size: 15px;}

        .agrups{
            display: flex;
            padding: 5em;
            min-width: 1200px;
            max-width: 1200px;
        }
        .agrup-esquerda{
            margin-right: 3%;
            width: 80%;
        }
        .agrup-direita{
            width: 20%;
        }

        .estrelas{
            display: flex;
            margin-bottom: 20%;
        }

        .estrela{
            background-image: url(../../../../public/assets/images/star.svg);
            background-size: 15px 15px;
            height: 15px;
            width: 15px;
        }


        .card-empresa{
            display: flex;
            justify-content: space-between;

            padding: 2em;
            min-width: 37em;
            height: 15em;

            margin-bottom: 2.5%;

            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);


            .a{
                display: flex;
            }

            .image{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                height: 47%;
                img{
                    width: 25px;
                    height: 25px;
                }
            }

            .img{
                height: 102%;
                width: 20%;
                min-width: 12.5em;
                margin-right: 2.5%;

                display: flex;
                justify-content: center;
                align-items: center;
                
                border: solid 3px rgb(165, 163, 163);
            }

            .nome-desc{
                width: 100%;

                h3{
                    font-weight: 1000;
                    font-size: 1.8em;
                    margin-bottom: 5%;
                    width: 13.5em;
                }
                p{
                    width: 100%;
                    height: 65%;
                }
    
                input{
                    font-weight: 1000;
                    font-size: 1.8em;
                    margin-bottom: 5%;
                    width: 13.5em;
                }
    
                textarea{
                    width: 100%;
                    height: 65%;
    
                }
            }

            .ava-locais{
                width: 30%;
                margin-left: 20px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                .AA{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    width: 100%;
                    height: 40%;
                }
            }

            #imagem{
                visibility: hidden;
                position: absolute;
            }

            .logo{
                height: 102%;
                width: 20%;
                min-width: 12.5em;
                border-radius: 15px;
                
            }
        }

        .card-Publicacao1{
            display: flex;
            justify-content: space-between;
            width: 100%;

            padding: 2em;
            margin-bottom: 20px;

            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

            p{
                font-size: 2em;
                font-weight: 650;
            }
            img{
                width: 35px;
            }
        }

        .card-Publicacao{
            display: flex;

            padding: 2em;
            margin-bottom: 20px;

            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
            
            .agrupamento-inputs3{
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;

                justify-content: space-between;
                width: 100%;

                .a{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1em;

                    img{
                        width: 20px;
                        height: 20px;
                    }
                }

                input{
                    display: flex;
                    font-size: 1.5em;
                    font-family: "Kumbh Sans";
                    font-weight: 700;

                    border: none;
                    border-radius: 0;
                    background: #fff;
                    border-bottom: black 2px solid;
                }

                textarea{
                    display: flex;
                    font-size: 1em;
                    font-family: "Kumbh Sans";
                    font-weight: 450;
                    padding: 10px;

                    border-radius: 0;
                    border: rgb(129, 129, 129) solid 2px;
                    color: rgb(100, 100, 100);
                    background: #fff;
                    width: 100%;
                    min-height: 5em;
                    margin-bottom: 1em;
                }

                
            }

            .imgpublicc{
                width: 140px;
                height: 110px;

                border: rgb(129, 129, 129) solid 2px;
            }

            .agrupamento-inputs4{
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;

                justify-content: space-between;
                width: 100%;
                max-height: 30em;

                .a{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1em;

                    img{
                        width: 20px;
                        height: 20px;
                    }
                }

                h1{
                    display: flex;
                    font-size: 1.5em;
                    font-family: "Kumbh Sans";
                    font-weight: 700;

                    border: none;
                    border-radius: 0;
                    background: #fff;
                    width: max-content;
                }

                p{
                    display: flex;
                    font-size: 1em;
                    font-family: "Kumbh Sans";
                    font-weight: 450;
                    padding: 10px;

                    border-radius: 0;
                    color: rgb(100, 100, 100);
                    background: #fff;
                    width: 100%;
                    margin-bottom: 1em;
                }

                
            }

            .imgpublicc{
                max-width: 60%;
                max-height: 60%;
                object-fit: contain;
                border: rgb(129, 129, 129) solid 2px;

                margin-bottom: 1em;
            }

            .agrupamento-inputs{
                display: flex;
                flex-direction: row;

                width: 100%;
                margin-bottom: 1em;

                textarea{
                    display: flex;
                    font-size: 1em;
                    font-family: "Kumbh Sans";
                    font-weight: 450;
                    padding: 10px;

                    border-radius: 0;
                    border: rgb(129, 129, 129) solid 2px;
                    color: rgb(100, 100, 100);
                    background: #fff;
                    width: 100%;
                    min-height: 5em;
                }
            }
        }

        .card-Publicacao-click{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            padding: 2em;

            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

            .publicar{
                display: flex;
                align-items: center;
                border: #000000 solid 2px;
                padding: 10px;
                border-radius: 10px;
                background-color: #ffffff;
                color: rgb(0, 0, 0);

                p{
                    font-size: 15px;
                    margin-right: 2px;
                }
                img{
                    width: 20px;
                }
            }

            .publicar:hover{
                background-color: #263238;
                border: rgb(255, 255, 255) solid 3px;
                transition: all 0,1 ;
                transition: all 0.2s;
                color: rgb(255, 255, 255);
                transform: scale(1.05);
            }

            .agrupamento-inputs1{
                display: flex;
                flex-direction: row;
                margin-bottom: 1em;

                justify-content: space-between;
                width: 100%;

                input{
                    display: flex;
                    font-size: 1.5em;
                    font-family: "Kumbh Sans";
                    font-weight: 700;

                    border: none;
                    border-radius: 0;
                    background: #fff;
                    border-bottom: black 2px solid;
                }
            }

            .agrupamento-inputs{
                display: flex;
                flex-direction: row;

                width: 100%;
                margin-bottom: 1em;

                textarea{
                    display: flex;
                    font-size: 1em;
                    font-family: "Kumbh Sans";
                    font-weight: 450;
                    padding: 10px;

                    border-radius: 0;
                    border: rgb(129, 129, 129) solid 2px;
                    color: rgb(100, 100, 100);
                    background: #fff;
                    width: 100%;
                    min-height: 5em;
                }
            }

            .agrupamento-img-icon{
                display: flex;
                flex-direction: column;

                align-items: flex-end;

                .addimg{
                    width: 140px;
                    height: 110px;

                    border: #263238 solid 1px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 60px;
                    }
    
                }
            }

            .Publicacao{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                padding: 2em;
    
                background-color: #fff;
                box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    
                .agrupamento-inputs{
                    display: flex;
                    flex-direction: column;
                }
    
                .agrupamento-img-icon{
                    display: flex;
                    flex-direction: column;
    
                    align-items: flex-end;
    
                    img{
                        width: 40px;
                    }
    
                    .addimg{
                        width: 110px;
                        height: 100px;
    
                        border: #263238 solid 1px;
    
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        img{
                            width: 60px;
    
                        }
        
                    }
                }
            }
            
            p{
                font-family: "Kumbh Sans";
                font-weight: 650;
                font-size: 30px;
            }
        }


        .CardCanto{
            background-color: #fff;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
            padding: 1em;
            


            margin-bottom: 10%;

            h3{
                border-bottom: 2px black solid;
                margin-bottom: 16px;
            }

            img{
                width: 15px;
            }

            .tagg{
                display: flex;
                justify-content: space-between;
            }
        }

        .CardCanto2{
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            
        }


        .card-Agendar p{
            font-size: 20px;
            display: flex;
            align-items: center;
        }

        .agendar{
            padding: 0.3em;
            width: 7em;
            background-color: #263238;
            border-radius: 0.7em;

            font-family: "Kumbh Sans";
            font-weight: 700;
            font-size: 20px;
            color: #fff;
        }

        #imagem1{
            visibility: hidden;
            position: absolute;
        }
    }

}