.cabecalho1{
   
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: flex-start;
    width: 100%;
    .alinhamento{
        
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        width: 50%;
        height: 5vh;
        font-family:'KumbhSans-Regular';
        padding-left: 1em;
    }
        a:link, a:visited {
            text-decoration: none;
            color: inherit;
        }
        
        .pagina{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 7vh;
            background-color: #37474F;
            font-family:'KumbhSans-Regular';   
            }
    

    .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .foto-usuario{
        border-radius: 360px;
        background-color: #c0c0c0;
        width: 35px;
        height: 35px;
        margin: 5px 50px 5px 5px;
    }

    .logo > a{
        background-color: #F6F6F6;
        color: #0000;
        padding: 5px 0em 0.3em 1.8em;
        font-size: 25px;
        color: #000;
        font-family: "Kumbh Sans";
        font-weight: 700;
    }
    .part-2{
         background-color: #263238;
    }

    .alinhamento > div{
        margin-left: 30px;

    }


    .Link:hover, .Link:visited, .Link:focus, .Link:active
    { text-decoration: none;
         color: inherit; } 
    
}